<md-content layout-padding>
	<!-- Sliders -->
	<md-content layout-padding>
		<span ng-if="!ctrl.portfolio.length">Looks like there's nothing here yet!</span>

		<stock-slider ng-repeat="stock in ctrl.portfolio" stock="stock" get-max="ctrl.getMax">
			<ng-md-icon icon="delete" style="fill: red; cursor: pointer;" ng-click="ctrl.deleteStock($index)"></ng-md-icon>
		</stock-slider>
	</md-content>

	<md-divider></md-divider>

	<!-- Add button -->
	<md-content layout-padding>
		<add-new-stock></add-new-stock>
	</md-content>
</md-content>