<md-content layout-padding>
	<!-- Sliders -->
	<md-content layout-padding>
		<!-- Display for if nothing is selected -->
		<md-content layout-padding ng-if="!ctrl.portfolio.length" class="fade">
			<h4 class="md-title">Looks like there's nothing here yet!</h4>
			<h4 class="md-subhead">Let's fix that. Click the "Add Stock" button below and start building your portfolio.</h4>
		</md-content>

		<!-- Stock sliders -->
		<div ng-repeat="stock in ctrl.portfolio" class="fade">
			<stock-slider name="{{stock.name}}" ng-model="stock.percentage" ng-change="ctrl.updateStock(stock)">
				<ng-md-icon icon="delete" style="fill: red; cursor: pointer;" ng-click="ctrl.deleteStock($index)"></ng-md-icon>
			</stock-slider>
		</div>

		<!-- Currency holding percentage -->
		<md-content layout-padding ng-if="ctrl.getMax(0) > 0" class="fade">
			<span><strong>{{ctrl.getMax(0)}}%</strong> is held in U.S. Dollars.</span>
		</md-content>
	</md-content>

  <md-divider></md-divider>

  <!-- Add button -->
  <md-content layout-padding>
    <add-new-stock></add-new-stock>
  </md-content>
</md-content>