<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../build/vendors.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">

<script src="../build/vendors.js"></script>

<!-- Useful concatenations for release
<script src="main/main.js"></script>
<script src="database/database.js"></script>
<script src="ticker/ticker.js"></script>

	Until then, just hard-code each file -->

<script src="real-time-trade.js"></script>
<script src="real-time-trade-ctrl.js"></script>

<script src="services/auth/auth.js"></script>
<script src="services/auth/auth-fact.js"></script>

<script src="services/database/database.js"></script>
<script src="services/database/database-fact.js"></script>

<script src="services/stocks/stocks.js"></script>
<script src="services/stocks/stocks-fact.js"></script>

<script src="services/league/league.js"></script>
<script src="services/league/league-fact.js"></script>

<script src="services/player/player.js"></script>
<script src="services/player/player-fact.js"></script>

<script src="main/main.js"></script>
<script src="main/main-ctrl.js"></script>
<script src="main/main-drct.js"></script>

<script src="ticker/ticker.js"></script>
<script src="ticker/ticker-ctrl.js"></script>
<script src="ticker/ticker-drct.js"></script>

<script src="portfolio/portfolio.js"></script>
<script src="portfolio/portfolio-ctrl.js"></script>
<script src="portfolio/portfolio-drct.js"></script>
<script src="portfolio/portfolio-fact.js"></script>

<script src="login/login.js"></script>
<script src="login/login-ctrl.js"></script>
<script src="login/login-drct.js"></script>

<script src="logout/logout.js"></script>
<script src="logout/logout-ctrl.js"></script>
<script src="logout/logout-drct.js"></script>

<script src="toolbar/toolbar.js"></script>
<script src="toolbar/toolbar-ctrl.js"></script>
<script src="toolbar/toolbar-drct.js"></script>

<script src="portfolio/add-new-stock/add-new-stock.js"></script>
<script src="portfolio/add-new-stock/add-new-stock-ctrl.js"></script>
<script src="portfolio/add-new-stock/add-new-stock-drct.js"></script>

<script src="portfolio/stock-slider/stock-slider.js"></script>
<script src="portfolio/stock-slider/stock-slider-ctrl.js"></script>
<script src="portfolio/stock-slider/stock-slider-drct.js"></script>

<body ng-app="RealTimeTrade">
	<md-content layout-padding ng-controller="RealTimeTradeCtrl as ctrl">
		<login ng-if="!ctrl.isAuthenticated"></login>
		<main ng-if="ctrl.isAuthenticated"></main>
	</md-content>
</body>

</html>