<md-content layout-padding>
	<!-- Sliders -->
	<md-content layout-padding>
		<span ng-if="ctrl.stocks.length <= 0">Looks like there's nothing here yet!</span>

		<stock-slider ng-repeat="stock in ctrl.stocks" stock="stock" get-max="ctrl.getMax">
			<ng-md-icon icon="delete" style="fill: red; cursor: pointer;" ng-click="ctrl.deleteStock($index)"></ng-md-icon>
		</stock-slider>
	</md-content>

	<md-divider></md-divider>

	<!-- Add button -->
	<md-content layout-padding>
		<stock-add-new></stock-add-new>
	</md-content>

	<md-button ng-click="ctrl.getValue(ctrl.stocks)">TEST</md-button>
</md-content>