<md-content layout-padding>
	<link rel="stylesheet" href="stocks/add-new/stock-add-new.css" />

	<!-- Button to open up the add widget -->
	<md-button ng-if="!ctrl.newStock.show" class="md-raised md-primary" ng-click="ctrl.newStock.show = true">Add Stock</md-button>

	<!-- Add widget -->
	<form ng-if="ctrl.newStock.show" layout>

		<!-- Stock selection -->
		<md-autocomplete flex="50" md-selected-item="ctrl.newStock.stock" md-search-text="ctrl.newStock.searchText" md-items="item in ctrl.getStocks(ctrl.newStock.searchText)"
		md-item-text="item.name" md-autoselect="true" md-delay="100" md-menu-class="autocomplete-custom-template" placeholder="Pick a stock"
		md-autofocus>
			<md-item-template ng-if="::item.value">
				<span class="item-title">
					<ng-md-icon icon="event_note"></ng-md-icon>
            		<span md-highlight-text="ctrl.newStock.searchText" md-highlight-flags="i">{{::item.name}}</span>
				</span>
				<span class="item-metadata">
					Value: <span class="item-metastat">{{::item.value}}</span>
				<span ng-if="::(item.changePercentage !== '0.00')" ng-style="::{color: ctrl.getChangePercentageColor(item.changePercentage)}">({{::item.changePercentage}}%)</span>
				</span>
				<span class="item-metadata">
					Symbol: <span md-highlight-text="ctrl.newStock.searchText" md-highlight-flags="i" class="item-metastat">{{::item.symbol}}</span>
				</span>
				<span class="item-metadata">
					Type: {{::item.typeDisp}}
				</span>
			</md-item-template>

			<md-not-found>
				No matches found for "{{ctrl.newStock.searchText}}".
			</md-not-found>
		</md-autocomplete>

		<!-- Confirm/cancel buttons -->
		<md-button class="md-raised md-primary" ng-click="ctrl.addStock(ctrl.newStock.stock)">Confirm</md-button>
		<md-button class="md-raised md-warn" ng-click="ctrl.newStock = null">Cancel</md-button>
	</form>
</md-content>